@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    box-sizing: border-box;
}
header{
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    background-image: url(../img/gigi-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

footer{
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
    align-items: center;
}

.box {
  /* display: flex; */
  /* float: left; */
}